
<div class="container">
  <div class="header"><h3>Language Syntax Editor</h3></div>
  <div class="content">
    <div class="button-bar">
      <label>Functions</label>
      <hr>
      <button (click)="uppercaseall()">UPPERCASE ALL</button>
      <button (click)="lowercaseall()">lowercase all</button>
      <button (click)="capitilizesentences()">Capitalize sentences</button>
      <button (click)="capitilizewords()">Capitalize Words</button>
      <button (click)="copyResult(resultArea)">Copy Result</button>
      <button (click)="text = ''">Clean Input</button>
      <button (click)="result = ''">Clean Result</button>
      <hr>
      <label>Filtered words</label>
      <textarea (ngModelChange)="filterChanged($event)" [(ngModel)]="filteredWords" placeholder="filtered words (divide with comma ',' character)"></textarea>
    </div>
    <div class="checkbox-bar">
      <label>Is Turkish: </label>
      <input type="checkbox" [(ngModel)]="isTurkish">
    </div>
    <div class="textarea-field">
      <textarea [(ngModel)]="text"></textarea>
      <hr>
      <textarea [(ngModel)]="result" #resultArea></textarea>
    </div>
  </div>
</div>